<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit the quote:</h1>
    <form action="/quotes/<%= quote._id %>?_method=PATCH " method="POST">
        <label for="quote">Quote: </label>
        <br>
        <textarea name="quote" id="quote" cols="30" rows="10"><%=quote.quote %> </textarea>
        <br>
        <button>Save</button>
    </form>
    <a href="/quotes/<%=quote._id %>">Cancel</a>
</body>
</html>