<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Quote</title>
</head>
<body>
    <div id="top-bar">
        <h1>LOTR QUOTES</h1>
    </div>
    <div class="quotes-container">
    <h2><%= quote.quote  %> </h2>
    <h2><%= quote.author %></h2>
    <a href="/quotes/<%=quote._id %>/edit ">Edit</a>
    </div>
    <form action="/quotes/<%= quote._id %>?_method=DELETE " method="POST">
        <button>DELETE</button>
    </form>
    <a href="/quotes">Back to quotes</a>
</body>
</html>