<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote</title>
</head>
<body>
    <h1><%= quote.quote  %> </h1>
    <h2><%= quote.author %></h2>
    <a href="/quote/<%= quote._id %>/edit ">Edit</a>
    <form action="/quotes/<%= quote._id %>?_method=DELETE " method="POST">
        <button>DELETE</button>
    </form>
    <a href="/quotes">Back to quotes</a>
</body>
</html>